body{
    background-color: #6C9653;
}
/*STRUCTURE*/
.highlighter{
    background-color: rgb(141, 173, 123);
    padding: 1.0em 2.5em 1.5em;
}

.container {
    width: 900px;
    margin: 35px auto;
    border: 1px solid #AFD173;
    padding: 40px;
    background-color:#F3FFE3;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
    line-height: 1.3em;
}

h1 {
    font-size: 54px;
    margin: 0.5em 0.5em 0.5em 4.0em;
}

h4 {
    font-size: 20px;
}

p, li, td, th,figcaption{
    font-family: 'Caveat', cursive;
    line-height:1.3em;
}
p{
    font-size: 19px;
    font-weight: bold;
}
/* Link */
a:link, a:visited {
    color: #2A5419;
    text-decoration: none;
}

a:hover, a:active {
    color:#397322;
}
/* TABLE */
th{
    text-align: left;
}
td{
    font-size: 17px;
}
table{
    padding: 0 1.0em 1.0em;
}
li {
    font-size: 18px;
}
/* image */
img {
    width: 100%;
    display: block;
}

.img-left{
    float: left;
    width: 36%;
}

.img-right{
    float: right;
    width: 40%;
}
.photo::after {
    content: "";
    display: table;
    clear: both;
  }